---
- name: Install haveged package
  ansible.builtin.package:
    name: haveged
    state: present
  become: true

- name: Enable haveged service
  ansible.builtin.service:
    name: haveged
    enabled: yes
  become: true
